

<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
    <p>
      <%= f.label :name%><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :email %><br>
       <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
    <p>
      <button class ="button">
        <%= f.submit %>
      </button>
    </p>
<% end %>
